.ItemContainer {
  padding: 0.5rem;
  max-width: 300px;
  min-width: 150px;
}

.SkuCode {
  color: rgb(107 114 128);
  font-size: 0.75rem;
  line-height: 1rem;
}

.CardImage {
  margin-bottom: 1rem;
  width: 210px;
  height: 185px;
}

.DefaultCardImage {
  margin-bottom: 1rem;
  width: 210px;
  height: 185px;
}

.DefaultCardImage img {
  margin: auto;
  margin-top: 4.5rem;
  opacity: 0.5;
}