.CardImage {
  width: 5rem;
  margin-right: 1rem;
}

.CardIcon {
  margin-right: 0.5rem;
}

.CardParagraph {
  color: rgb(107 114 128);
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
}

.Card {
  border-style: dashed;
  padding: 1.5rem;
}
